<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>Signature</key>
<data>
H+KEdxDpzjmClvJMlWS3aOHBsQ+MU0FXogEDFWgfPKnxS+ZTvc1xkMbcOpIgPuDFDomc
a7uMazU7ef+FYD3RSRg86qlfdtijcS5fO/jcckPAWBDTlE21Hb2Yb4ww0GzEydadxbnh
Uyv3QTxLhQuqL2uN2MXaOFMduN6qELCt9ik=
</data>
<key>name</key>
<string>joeym@joeym.net</string>
<key>product_code</key>
<string>Mac</string>
<key>quantity</key>
<integer>1</integer>
<key>version</key>
<string>2</string>
</dict>
</plist>
